# ThaiOS ISOLINUX Configuration
serial 0
default thaios
prompt 1
timeout 100

ui gfxboot bootlogo

label thaios
  menu label Avvia ThaiOS 1.0
  kernel /boot/vmlinuz
  append root=/dev/loop0 loop=/ThaiOS.squashfs ro quiet splash initrd=/boot/initrd.img

label thaios-safe
  menu label ThaiOS 1.0 - Modalita provvisoria
  kernel /boot/vmlinuz
  append root=/dev/loop0 loop=/ThaiOS.squashfs ro nomodeset initrd=/boot/initrd.img

label thaios-text
  menu label ThaiOS 1.0 - Modalita testo
  kernel /boot/vmlinuz
  append root=/dev/loop0 loop=/ThaiOS.squashfs ro systemd.unit=multi-user.target initrd=/boot/initrd.img

label hdd
  menu label Avvia dal primo disco
  localboot 0x80

label memtest
  menu label Verifica memoria
  kernel /boot/memtest86+
